{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Добро пожаловать, {{ user.name }}</h2>

    {% if recommended_products %}
        <h3>Вам может понравиться</h3>
        <div class="products-container">
            {% for product in recommended_products %}
                <div class="product-card">
                    <a href="/products/{{ product._id }}">
                        {% if product.image_url %}
                            <img src="{{ product.image_url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="/static/no_image.png" alt="Нет изображения">
                        {% endif %}
                        <div class="product-info">
                            <h4>{{ product.name }}</h4>
                            <p class="price">{{ product.price }} ₸</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}
